# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# dir
src/server/.idea
src/server/cmake-build-debug
src/server/cmake-build-release
src/client/.idea
src/client/cmake-build-debug
src/client/cmake-build-release

